language: cpp
dist: bionic

matrix:
  include:
    - os: linux
      addons:
        apt:
          packages:
            - g++-8
      env:
        - CC_=gcc-8
        - CXX_=g++-8
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-bionic-9
          packages:
            - clang-9
      env:
        - CC_=clang-9
        - CXX_=clang++-9

before_install:
  - export CC=$CC_
  - export CXX=$CXX_

install:
  - make install_eigen

script:
  - mkdir -p build
  - cd build
  - cmake -D Eigen3_INCLUDE_DIR="../eigen3/" -D RSVD_OPENMP=OFF ..
  - make all
  - ./rsvd_test
